
header {
background-color: #000000;
color: crimson;
padding: 20px;
}

h1 {
margin: 0;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li a {
    color: #ffffff;
    padding: 10px;
    text-decoration: none;
}
