
header {
    background-color: #000000;
    color: crimson;
    padding: 20px;
    height: 50px;
    }

    a{
        text-decoration: none;
    }
    
    h1 {
    margin: 0;
    }
    
    nav ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    
    nav ul li a {
        color: #ffffff;
        padding: 10px;
        text-decoration: none;
    }
    
    footer {
        background-color: #000000;
        color: crimson;
        padding: 20px;
        }
        
        :root{
            --mane-text:#757575
        
            --mane-text:#FFFFFF
        
            --mane-text:#212121
        
            --mane-text:#757575
        
            --mane-text:#2196F3
        
            --mane-text:#2F303A
        
            --mane-text:#FFFFFF99
        
            --mane-text:#ECECEC
        
            --mane-text:#F5F4FA
        }

        .header-logo1{color: blue;
            /* WebStudio */
            
            position: absolute;
            width: 145px;
            height: 31px;
            left: 215px;
            top: 27px;
            
            font-family: 'Raleway';
            font-style: normal;
            font-weight: 700;
            font-size: 26px;
            line-height: 31px;
            /* identical to box height */
            letter-spacing: 0.03em;
            }
            
            .header-logo1:hover{
                font-size: 30px;
                color: lightblue;
            }
            
            
            .header-logo2{color: blue;
                /* WebStudio */
                font-family: 'Raleway';
                font-style: normal;
                font-weight: 700;
                font-size: 26px;
                line-height: 31px;
                /* identical to box height */
                letter-spacing: 0.03em;
                
                }
            
                .header-logo2:hover{
                    font-size: 30px;
                    color: lightblue;
                }
            
            
            .stydia:hover::after{
                transform: translate(0);
            }
            
            
                .stydia{/* Студія */
            
                    position: absolute;
                    width: 45px;
                    height: 16px;
                    left: 453px;
                    top: 27px;
                  
                    font-family: 'Roboto';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 17px;
                    line-height: 16px;
                    letter-spacing: 0.02em;
                    color: #00eeff;
                    overflow: hidden;
                    
            
                    }
            
                    .stydli{
                        overflow: hidden;
                    }
            
                    .stydia:hover{
                        font-size: 17px;
                        color: white;
                    }
                    
             .stydia::after{
                content:"";
                display: block;
                width: 120%;
                height: 4px;
                border-radius: 5px;
                background-color: white;
                transform: translate(-100%);
                transition: transform 1s;
                position: absolute;
                bottom: -3px;
                left: 0;
            }
            
            
            .stydia:hover::after{
                transform: translate(0);
            }
            
            
                .portofolio{/* Студія */
            
                    position: absolute;
                    width: 45px;
                    height: 16px;
                    left: 550px;
                    top: 27px;
                  
                    font-family: 'Roboto';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 17px;
                    line-height: 16px;
                    letter-spacing: 0.02em;
                    color: #00eeff;
                    overflow: hidden;
                    
            
                    }
            
                    .portli{
                        overflow: hidden;
                    }
            
                    .portofolio:hover{
                        font-size: 17px;
                        color: white;
                    }
                    
             .portofolio::after{
                content:"";
                display: block;
                width: 120%;
                height: 4px;
                border-radius: 5px;
                background-color: white;
                transform: translate(-100%);
                transition: transform 1s;
                position: absolute;
                bottom: -3px;
                left: 0;
            }
            
            
            .portofolio:hover::after{
                transform: translate(0);
            }
            
            .contacts{/* Студія */
            
                position: absolute;
                width: 45px;
                height: 16px;
                left: 650px;
                top: 27px;
              
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 500;
                font-size: 17px;
                line-height: 16px;
                letter-spacing: 0.02em;
                color: #00eeff;
                overflow: hidden;
                
            
                }
            
                .conli{
                    overflow: hidden;
                }
            
                .contacts:hover{
                    font-size: 17px;
                    color: white;
                }
                
            .contacts::after{
            content:"";
            display: block;
            width: 120%;
            height: 4px;
            border-radius: 5px;
            background-color: white;
            transform: translate(-100%);
            transition: transform 1s;
            position: absolute;
            bottom: -3px;
            left: 0;
            }
            
            
            .contacts:hover::after{
            transform: translate(0);
            }
            
            
                        .e-mail1{/* E-mail */
            
                            position: absolute;
                            width: 135px;
                            height: 16px;
                            left: 1078px;
                            top: 27px;
                            
                            font-family: 'Roboto';
                            font-style: normal;
                            font-weight: 500;
                            font-size: 17px;
                            line-height: 16px;
                            letter-spacing: 0.02em;
                            
                            color: #757575;
                            
                            
                            
                            /* Hover */
                            
                            position: absolute;
                            width: 135px;
                            height: 16px;
                            left: 1078px;
                            top: 32px;
                            
                            
                            
                            /* info@devstudio.com */
                            
                            position: absolute;
                            width: 136px;
                            height: 21px;
                            left: 950px;
                            top: 32px;
                            
                            font-family: 'Roboto';
                            font-style: normal;
                            font-weight: 500;
                            font-size: 17px;
                            line-height: 16px;
                            letter-spacing: 0.02em;
                            
                            color: #0400ff;
                            
                            }
            
                            .e-mail1:hover{
                                font-size: 17px;
                                color: white;
                                transform: translate(-10%);
                                transition: transform 1s;
                            }
            
                
                            .e-mail2{/* info@devstudio.com */
                                
                                font-family: 'Roboto';
                                font-style: normal;
                                font-weight: 400;
                                font-size: 17px;
                                line-height: 24px;
                                /* or 171% */
                                letter-spacing: 0.03em;
                                
                                color: #0400ff;
                                
                                }
            
                                .e-mail2:hover{
                                    font-size: 17px;
                                    color: white;
                                    transform: translate(-10%);
                                    transition: transform 1s;
                                }
                    
            
                            .place{/* м. Київ, пр-т Лесі Українки, 26 */                                                      
                                font-family: 'Roboto';
                                font-style: normal;
                                font-weight: 400;
                                font-size: 16px;
                                line-height: 24px;
                                /* or 171% */
                                letter-spacing: 0.03em;
                                
                                color: #0400ff;
                                
                                }
                                
                                .nomber1{/* Tel */
            
                                    position: absolute;
                                    width: 122px;
                                    height: 16px;
                                    left: 1263px;
                                    top: 32px;
                                    
                                    
                                    
                                    /* +38 096 111 11 11 */
                                    
                                    position: absolute;
                                    width: 122px;
                                    height: 16px;
                                    left: 1140px;
                                    top: 32px;
                                    
                                    font-family: 'Roboto';
                                    font-style: normal;
                                    font-weight: 500;
                                    font-size: 14px;
                                    line-height: 16px;
                                    letter-spacing: 0.02em;
                                    
                                    color: #4c00ff;
                                    
                                    }
            
                                    .nomber1:hover{
                                        font-size: 15px;
                                        color: white;
                                    }
                        
            
                                .nomber2{/* +38 096 111 11 11 */                        
                                    font-family: 'Roboto';
                                    font-style: normal;
                                    font-weight: 400;
                                    font-size: 14px;
                                    line-height: 24px;
                                    /* or 171% */
                                    letter-spacing: 0.03em;
                                    
                                    color: #4c00ff;
                                    
                                    }
            
                                    .nomber2:hover{
                                        font-size: 14px;
                                        color: white;
                                    }

                        .ullu{
                            display: flex;
                            text-align: center;
                        }

                        .ul1{
                            font-family: Roboto;
                            font-size: 16px;
                            font-weight: 500;
                            line-height: 26px;
                            letter-spacing: 0.03em;
                            text-align: center;

                            box-shadow: 0px 2px 2px 0px #0000001F;

                            box-shadow: 0px 1px 2px 0px #00000014;
                            
                            box-shadow: 0px 3px 1px 0px #0000001A;
                            
                            width: 73px;
                            height: 38px;
                            border-radius: 4px;
                            top: 174px;
                            left: 512px;
                            background: #2196F3;
                            color: #ffffff;

                            
                        }

                        .ul2{
                            
                            font-family: Roboto;
                            font-size: 16px;
                            font-weight: 500;
                            line-height: 26px;
                            letter-spacing: 0.03em;
                            text-align: center;

                            box-shadow: 0px 2px 2px 0px #0000001F;

                            box-shadow: 0px 1px 2px 0px #00000014;
                            
                            box-shadow: 0px 3px 1px 0px #0000001A;
                            
                            width: 125px;
                            height: 38px;
                            top: 174px;
                            left: 593px;
                            border-radius: 4px;
                              
                            background: #F5F4FA;
                            
                            color: #212121;                                                                          
                        }

                        .ul2:hover{

                            box-shadow: 0px 2px 2px 0px #0000001F;

                            box-shadow: 0px 1px 2px 0px #00000014;
                            
                            box-shadow: 0px 3px 1px 0px #0000001A;
                            
                            width: 125px;
                            height: 38px;
                            border-radius: 4px;
                            top: 174px;
                            left: 593px;
                            background: #2196F3;
                            color: #ffffff;
                        }

                        .ul3{
                            font-family: Roboto;
                            font-size: 16px;
                            font-weight: 500;
                            line-height: 26px;
                            letter-spacing: 0.03em;
                            text-align: center;

                            box-shadow: 0px 2px 2px 0px #0000001F;

                            box-shadow: 0px 1px 2px 0px #00000014;
                            
                            box-shadow: 0px 3px 1px 0px #0000001A;
                            
                            width: 125px;
                            height: 38px;
                            top: 174px;
                            left: 593px;
                            border-radius: 4px;
                              
                            background: #F5F4FA;
                            
                            color: #212121;
                        }

                        .ul3:hover{
                            box-shadow: 0px 2px 2px 0px #0000001F;

                            box-shadow: 0px 1px 2px 0px #00000014;
                            
                            box-shadow: 0px 3px 1px 0px #0000001A;
                            
                            width: 125px;
                            height: 38px;
                            border-radius: 4px;
                            top: 174px;
                            left: 593px;
                            background: #2196F3;
                            color: #ffffff;
                        }

                        .ul4{
                            font-family: Roboto;
                            font-size: 16px;
                            font-weight: 500;
                            line-height: 26px;
                            letter-spacing: 0.03em;
                            text-align: center;

                            box-shadow: 0px 2px 2px 0px #0000001F;

                            box-shadow: 0px 1px 2px 0px #00000014;
                            
                            box-shadow: 0px 3px 1px 0px #0000001A;
                            
                            width: 125px;
                            height: 38px;
                            top: 174px;
                            left: 593px;
                            border-radius: 4px;
                              
                            background: #F5F4FA;
                            
                            color: #212121;
                        }

                        .ul4:hover{
                            box-shadow: 0px 2px 2px 0px #0000001F;

                            box-shadow: 0px 1px 2px 0px #00000014;
                            
                            box-shadow: 0px 3px 1px 0px #0000001A;
                            
                            width: 125px;
                            height: 38px;
                            border-radius: 4px;
                            top: 174px;
                            left: 593px;
                            background: #2196F3;
                            color: #ffffff;
                        }

                        .ul5{
                            font-family: Roboto;
                            font-size: 16px;
                            font-weight: 500;
                            line-height: 26px;
                            letter-spacing: 0.03em;
                            text-align: center;

                            box-shadow: 0px 2px 2px 0px #0000001F;

                            box-shadow: 0px 1px 2px 0px #00000014;
                            
                            box-shadow: 0px 3px 1px 0px #0000001A;
                            
                            width: 125px;
                            height: 38px;
                            top: 174px;
                            left: 593px;
                            border-radius: 4px;
                              
                            background: #F5F4FA;
                            
                            color: #212121;
                        }

                        .ul5:hover{
                            box-shadow: 0px 2px 2px 0px #0000001F;

                            box-shadow: 0px 1px 2px 0px #00000014;
                            
                            box-shadow: 0px 3px 1px 0px #0000001A;
                            
                            width: 125px;
                            height: 38px;
                            border-radius: 4px;
                            top: 174px;
                            left: 593px;
                            background: #2196F3;
                            color: #ffffff;
                        }

                        .foot{
                            display: flex;
                        }

                        .li1{
                            display: flex;
                        }

                        .li2{
                            display: flex;
                        }

                        .li3{
                            display: flex;
                        }

                        .li4{
                            display: flex;
                        }

                        .li5{
                            display: flex;
                        }

                        .divv{
                            display: flex;
                            justify-content: center;
                        }

                        .ull{
                            display: flex;
                            text-align: left;
                            justify-content: center;
                            
                        }

                        .lii{
                            width: 370px;
                            height: 404px;
                            top: 262px;
                            left: 215px;
                            border: 1px;
                            margin: 10px;

                            background: linear-gradient(0deg, #ffffff, #ffffff),
                            linear-gradient(0deg, #FFFFFF, #FFFFFF);

                            border: 1px solid rgba(238, 238, 238, 1);                                                      
                        }

                        .icon-instagram1{
                            width: 44px;
                            height: 44px;
                            fill: white;
                        }
                        .icon-instagram1:hover{
                            width: 44px;
                            height: 44px;
                            background-color: blue;
                        }
                        
                        .icon-twitter-with-circle{
                            width: 44px;
                            height: 44px;
                            fill: white;
                        }
                        .icon-twitter-with-circle:hover{
                            width: 44px;
                            height: 44px;
                            background-color: blue;
                        }
                        
                        .icon-facebook{
                            width: 44px;
                            height: 44px;
                            fill: white;
                        }
                        .icon-facebook:hover{
                            width: 44px;
                            height: 44px;
                            background-color: blue;
                        }
                        
                        .icon-linkedin{
                            width: 44px;
                            height: 44px;
                            fill: white;
                        }
                        .icon-linkedin:hover{
                            width: 44px;
                            height: 44px;
                            background-color: blue;
                        }

                        .divvv{
                            margin-right: 100px;
                        }
                        .lasth{
                            color: #FFF;
                        font-family: Roboto;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: normal;
                        letter-spacing: 0.42px;
                        text-transform: uppercase;
                        margin-bottom: 20px;
                        }