.grey{
    background-color: #dddddd;
}


:root{
    --mane-text:#757575

    --mane-text:#FFFFFF

    --mane-text:#212121

    --mane-text:#757575

    --mane-text:#2196F3

    --mane-text:#2F303A

    --mane-text:#FFFFFF99

    --mane-text:#ECECEC

    --mane-text:#F5F4FA
}


.header-logo1{color: blue;
/* WebStudio */

position: absolute;
width: 145px;
height: 31px;
left: 215px;
top: 27px;

font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 31px;
/* identical to box height */
letter-spacing: 0.03em;
}

.header-logo1:hover{
    font-size: 30px;
    color: lightblue;
}


.header-logo2{color: blue;
    /* WebStudio */

   
    width: 145px;
    height: 31px;
    left: 215px;
    top: 2265px;
    
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    /* identical to box height */
    letter-spacing: 0.03em;
    
    }

    .header-logo2:hover{
        font-size: 30px;
        color: lightblue;
    }
    

    .stydia{/* Студія */

        position: absolute;
        width: 45px;
        height: 16px;
        left: 453px;
        top: 27px;
      
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 17px;
        line-height: 16px;
        letter-spacing: 0.02em;

        color: #00eeff;

        }

        .stydia:hover{
            font-size: 20px;
            color: white;
        }
        
        .portofolio{/* Портфоліо */

            position: absolute;
            width: 72px;
            height: 16px;
            left: 548px;
            top: 27px;
           
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 500;
            font-size: 17px;
            line-height: 16px;
            letter-spacing: 0.02em;
            
            color: #00eeff;
            }

            .portofolio:hover{
                font-size: 20px;
                color: white;
            }

            .contacts{/* Контакти */

                position: absolute;
                width: 64px;
                height: 16px;
                left: 670px;
                top: 27px;

                font-family: 'Roboto';
                font-style: normal;
                font-weight: 500;
                font-size: 17px;
                line-height: 16px;
                letter-spacing: 0.02em;

                color: #00eeff;

            }

            .contacts:hover{
                font-size: 20px;
                color: white;
            }

            .e-mail1{/* E-mail */

                position: absolute;
                width: 135px;
                height: 16px;
                left: 1078px;
                top: 27px;
                
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 500;
                font-size: 17px;
                line-height: 16px;
                letter-spacing: 0.02em;
                
                color: #757575;
                
                
                
                /* Hover */
                
                position: absolute;
                width: 135px;
                height: 16px;
                left: 1078px;
                top: 32px;
                
                
                
                /* info@devstudio.com */
                
                position: absolute;
                width: 136px;
                height: 21px;
                left: 950px;
                top: 32px;
                
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 500;
                font-size: 17px;
                line-height: 16px;
                letter-spacing: 0.02em;
                
                color: #0400ff;
                
                }

                .e-mail1:hover{
                    font-size: 20px;
                    color: lightblue;
                }
    
                .e-mail2{/* info@devstudio.com */

                    
                    width: 136px;
                    height: 21px;
                    left: 950px;
                    top: 2265px;
                    
                    font-family: 'Roboto';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 17px;
                    line-height: 24px;
                    /* or 171% */
                    letter-spacing: 0.03em;
                    
                    color: #0400ff;
                    
                    }

                    .e-mail2:hover{
                        font-size: 20px;
                        color: lightblue;
                    }
        

                .place{/* м. Київ, пр-т Лесі Українки, 26 */

                    
                    width: 231px;
                    height: 21px;
                    left: 548px;
                    top: 2265px;
                    
                    font-family: 'Roboto';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 24px;
                    /* or 171% */
                    letter-spacing: 0.03em;
                    
                    color: #0400ff;
                    
                    }
                    
                    .nomber1{/* Tel */

                        position: absolute;
                        width: 122px;
                        height: 16px;
                        left: 1263px;
                        top: 32px;
                        
                        
                        
                        /* +38 096 111 11 11 */
                        
                        position: absolute;
                        width: 122px;
                        height: 16px;
                        left: 1140px;
                        top: 32px;
                        
                        font-family: 'Roboto';
                        font-style: normal;
                        font-weight: 500;
                        font-size: 14px;
                        line-height: 16px;
                        letter-spacing: 0.02em;
                        
                        color: #4c00ff;
                        
                        }

                        .nomber1:hover{
                            font-size: 15px;
                            color: lightblue;
                        }
            

                    .nomber2{/* +38 096 111 11 11 */

                        
                        width: 231px;
                        height: 21px;
                        left: 1140px;
                        top: 2265px;
                        
                        font-family: 'Roboto';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 24px;
                        /* or 171% */
                        letter-spacing: 0.03em;
                        
                        color: #4c00ff;
                        
                        }

                        .nomber2:hover{
                            font-size: 15px;
                            color: lightblue;
                        }
            

                        .head{/* Підвал */

position: absolute;
width: 1600px;
height: 252px;
left: 0px;
top: 2094px;



/* Footer bg */

position: absolute;
width: 1600px;
height: 252px;
left: 0px;
top: 2094px;

background: #2F303A;


/* WebStudio */

position: absolute;
width: 145px;
height: 31px;
left: 215px;
top: 2154px;

font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 31px;
/* identical to box height */
letter-spacing: 0.03em;

color: #2196F3;



/* Address */

position: absolute;
width: 231px;
height: 81px;
left: 215px;
top: 2205px;



/* м. Київ, пр-т Лесі Українки, 26 */

position: absolute;
width: 231px;
height: 21px;
left: 215px;
top: 2205px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
/* or 171% */
letter-spacing: 0.03em;

color: #FFFFFF;



/* info@devstudio.com */

position: absolute;
width: 136px;
height: 21px;
left: 215px;
top: 2235px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
/* or 171% */
letter-spacing: 0.03em;

color: rgba(255, 255, 255, 0.6);



/* +38 096 111 11 11 */

position: absolute;
width: 231px;
height: 21px;
left: 215px;
top: 2265px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
/* or 171% */
letter-spacing: 0.03em;

color: rgba(255, 255, 255, 0.6);

}

.nr{
   display: flex;
   justify-content: center;
   
}

.foot{
    display: flex;
}

.lo{
    display: flex;
}

.oi{
    text-align: center;
}

.io{
    text-align: center;
}

.men{
    box-shadow: 0px 2px 1px 0px #00000033;

box-shadow: 0px 1px 1px 0px #00000024;

box-shadow: 0px 1px 3px 0px #0000001F;
margin-right: 30px;
background-color: white;
text-align: center;

border-radius: 0px 0px 4px 4px;
background: #FFF;

/* material shadow v1 */
box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.men:not(:last-child){
    margin-right: 30px; 
}

.grey-img{
    flex-shrink: 0;
    background: url(<path-to-image>), lightgray 0px -147.517px / 100% 170.667% no-repeat;
}

.efect{
    color: #FFF;
    text-align: center;
    font-size: 44px;
    font-style: normal;
    font-weight: 900;
    line-height: 60px; /* 136.364% */
    letter-spacing: 2.64px;
    text-transform: uppercase;
    width: 696px;
height: 120px;
top: 280px;
left: 372px;

}

.iyu{
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
text-align: center;
margin-right: 30px;
letter-spacing: 35px;
}

.zamoB{
    width: 216px;
height: 50px;
flex-shrink: 0;
border-radius: 4px;
background: #2196F3;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
width: 216px;
height: 50px;
border-radius: 4px;


color: #FFF;
text-align: center;
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 30px; /* 187.5% */
letter-spacing: 0.96px;
top: 440px;
left: 612px;

}

.div{
    width: 270px;
    background-image: url(./astronaut\ 1.png);
    background-position: center;

border-radius: 4px;
background-color: #F5F4FA;
background-repeat: no-repeat;
}

.container{
    width: 1200px;
 padding: 0 15px;
 margin: 0 auto;
}

.h3{
    width: 270px;
    color: #212121;
font-family: Roboto;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 0.42px;
text-transform: uppercase;
}

.p{
    width: 270px;
    color: #757575;
font-family: Roboto;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 171.429% */
letter-spacing: 0.42px;

}

.nrItem:not(:last-child){
    margin-right: 30px;

}

.nrItem::before{
     content: "";
     display: block;
     width: 270px;
     height: 120px;
     background-color: #F5F4FA;
     background-repeat: no-repeat;
     background-position: center;

}

.nrItem{
    position: relative;
}

.antenna::before{
background-image: url(./antenna.jpg);
}

.clock::before{
    background-image: url(./clock.jpg);
}

.disagram::before{
    background-image: url(./disagram.jpg);
}

.astronaut::before{
    background-image: url(./astronaut.png);
}



